/** Affichage de la modale **/
.modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.active {
    display: flex;;
}
.modal-open {
	overflow: hidden;
}

/** Fenêtre de la modale **/
.popup {
    position: relative;
    width: 630px;
    height: 688px;
    max-width: calc(100vw - 50px);
    max-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

/** Contenu de la modale (partie commune) **/
.mainPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    height: 100%;
}
.namePopup {
    margin-top: 60px;
    margin-bottom: 45px;
    font-size: 26px;
}
.fa-x {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.fa-arrow-left {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 21px;
    cursor: pointer;
}
.barSubmitContainer {
    margin-top: auto;
    text-align: center;
}
.popupBar {
    width: 420px;
    border-bottom: #B3B3B3 1px solid;
}
.barSubmitContainer input {
	height: 36px;
    margin-top: 30px;
    margin-bottom: 45px;
	width: 237px;
    border: none;
}

/** Contenu spécifique de la modale (galerie) **/
.editGallery {
    height: 60%;
	width: 100%;
	display: grid;
    justify-content: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
    overflow: auto;
    position: relative;
    align-content: flex-start;
}
.editGallery figure {
    position: relative;
}
.editGallery img {
	width: 100%;
    height: 102px;
    object-fit: cover;
}
.trashBtn {
	position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    height: 17px;
    width: 17px;
    margin: 0;
    padding: 0;
    background-color: black;
    border-radius: 15%;
    cursor: pointer;
}
.fa-trash-can {
	color: white;
}

/** Contenu spécifique de la modale (formulaire) **/
.addWorksForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.file-preview-container {
    height: 185px;
}
#previewContainer {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #E8F1F6;
}
.btn-add-pic {
    width: 173px;
    border-radius: 50px;
    text-align: center;
    background-color: #CBD6DC;
    height: 36px;
    line-height: 36px;
    margin-top: 10px;
    color: #306685;
}
.fa-image {
    font-size: 76px;
    color: #B9C5CC;
}
.preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.file-preview-container p {
    font-size: 10px;
    color: #444444;
    margin: 10px;
}
input[type=file] {
    display: none
}
.inputAddForm {
	display: flex;
    flex-direction: column;
}
.inputAddForm label {
	margin: 2em 0 1em 0;
}
.inputAddForm input, select {
	height: 50px;
    font-family: 'Work Sans';
	font-size: 1em;
    padding-left: 20px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.barSubmitContainer input.disabled {
    background-color: #A7A7A7;
    cursor: not-allowed;
}